
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.env
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Outros
MANUAL_INSTALACAO.md
README.md

Sistema de Motoristas.lnk
assets/ap.ico
main_ui.spec


planilhas/
drivers/
logs/
Instruções/
dist/