# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.env
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar logs
*.log
